#content-wrap{
    display: none;
}

.msg{
    padding-top: 10px;
    padding-left: 10px;
}

.username_bold{
    padding-top: 10px;    
}

.logo_navbar{
    height: 40px;
    width: 50px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.contact-icons{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.send_svg{
    height: 7%;
    width: 7%;
}